spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  mongodb:
    uri: ${SPRING_DATA_MONGODB_URI}

app:
  ai-feedback:
    gemini:
      enabled: true
      api-key: ${GEMINI_API_KEY:}
