spring:
  datasource:
    url: jdbc:mysql://localhost:3306/resume_feedback?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  main:
    banner-mode: "off"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
